.item {
  font-size: 1rem;
  padding: 0.2rem 0;
  display: flex;
  flex-wrap: nowrap;
}

.removeIcon {
  font-size: 1.6rem;
  color: #ff4d4d;
  cursor: pointer;
  padding: 3px;
  align-self: center;

  &:hover {
    color: #ff1a1a;
    text-shadow: 0 0 2px #ff4d4d;
  }
}
