.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  padding: 8px 24px;
  z-index: 2;
  font-weight: 800;
  background-image: linear-gradient(to bottom,
    #ffe6cc 30%,
    #efefff 100%
  );
}

.heart {
  color: #cc0000;
}
