.exchangeModal {
  background-color: #ffe6cc;
  z-index: 4;
  position: fixed;
  right: 0;
  top: 45px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: normal;
}

.currencyExchangeWrapper {
  display: flex;
}

.buttonGroupWrapper {
  flex-grow: 1;
  text-align: center;
  display: flex;
  padding: 0 5px;
}

.buttonGroupWrapper > * {
  flex-grow: 1;
  text-align: center;
  padding: 4px;
  font-size: 1.6rem;
}

.positive {
  background-color: #d9f2d9;
}

.negative {
  background-color: #ffcccc;
}
