.appLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.bodyLayout {
  display: flex;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
  overflow-y: scroll;

}

.cart {
  padding: 10px;
  flex: 0.2 0 250px;
  overflow: auto;
}
