.wrapper {
  padding: 1rem 0.5rem;
  width: 250px;
  border-radius: 5px;

  &:hover {
    background-color: #ffece6;
    cursor: pointer;
  }
}

.disabledWrapper {
  opacity: 0.5;
  cursor: not-allowed;
  padding: 0.3rem;
  width: 250px;
  border-radius: 5px;
}

.giftImage {
  width: 100%;
  height: auto;
}
