.wrapper {
  padding: 0.3rem;
  width: 300px;
  height: 100px;
  border-radius: 5px;

  &:hover {
    background-color: #ffece6;
    box-shadow: 5px 5px 3px #ffdacc;
    cursor: pointer;
  }
}

.disabledWrapper {
  opacity: 0.5;
  padding: 0.3rem;
  width: 300px;
  height: 100px;
  border-radius: 5px;
}
