.wrapper {
  padding: 1rem 0.5rem;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ffd8cc;
  }
}

.disabledWrapper {
  opacity: 0.5;
  cursor: not-allowed;
}

.giftImage {
  width: 100%;
  height: auto;
}
